// HERE WE WRITE SKELETON OF OUR DESIGN, MAIN BLOCKS:


// ** Header Section **//

header {
	background-color: #fff;
	height: 159px;
	img {
		margin-top: 22px;
		margin-bottom: 32px;
	}
}

footer {
    background-color: #1b2034;
    padding-top: 50px;
    padding-bottom: 30px;
    .row {
    	text-align: center;
    }
    .border-left::before {
	    content: "";
	    display: block;
	    border-left: 1px solid #2e3249;
	    height: 118px;
	    position: absolute;
	    top: -6px;
	    left: 0;
    }
    .border-right::after {
	    content: "";
	    display: block;
	    border-left: 1px solid #2e3249;
	    height: 118px;
	    position: absolute;
	    top: -6px;
	    left: 0;
    }
    .contact-block {
    	display: flex;
	    flex-direction: column;
	    align-items: center;
	    .contact-icon {
		    width: 34px;
		    height: 35px;
    	    background-position: -5px -3px;
	        background-image: url(../img/footer-icons.png);
		    background-repeat: no-repeat;
		    display: block;
		    margin: 0 auto;
	    }
	    .contact-email {
    	    color: #dea318;
		    font-size: 16px;
		    text-decoration: none;
		    font-family: $font-patuaone;
	        margin-top: 10px;
	    }
	    .subtext {
    	    color: #b8bed7;
		    font-size: 18px;
		    font-weight: bold;
		    text-transform: uppercase;
		    font-family: $font-patuaone;
		    margin-top: 10px;
	    }
    }
    .email-block {
    	display: flex;
	    flex-direction: column;
	    align-items: center;
    	.email-icon {
    	    width: 28px;
		    height: 28px;
		    background-position: -48px -3px;
		    background-image: url(../img/footer-icons.png);
		    background-repeat: no-repeat;
		    display: block;
		    margin: 0 auto;
	    }
	    .footer-number-big {
		    color: #dea318;
		    font-size: 32px;
		    margin: 0px 0 -6px;
		    font-family: $font-patuaone;
		    margin-top: 7px;
		}
		.subtext {
			color: #b8bed7;
		    font-size: 18px;
		    font-weight: bold;
		    text-transform: uppercase;
		    font-family: $font-patuaone;
		    margin-top: 1px;
		}	
    }
    .footer-links {
	    text-align: right;
	    margin-top: 40px;
	    color: #686e88;
	    font-size: 15px;
	    font-family: $font-fira;
    }
}