// STYLES FOR PAGE https://www.homebasedhero.com/omsk/special.html#
.gift-page {
	background: url(../img/background.jpg) repeat-x;
	justify-content: center;
    align-items: center;
    display: flex;
	.main-container {
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: #ffffff;
		padding: 17px 40px 15px 40px;
		.warning-block {
			text-align: center;
			padding-bottom: 40px;
		}
		.content-block {
			h1 {
				line-height: 1;
	    		margin: 0;
	    		font-weight: bold;
			    text-transform: uppercase;
			    font-family: 'PT Sans', sans-serif;
			    font-size: 24px;
			    color: #311e15;
			    text-align: center;
			}
		}
		.gift {
			background: url(../img/gift.png) no-repeat;
		    width: 414px;
		    height: 290px;
		    margin: 20px auto;
		      background-position: center;
		    padding-top: 80px;
		    text-align: center;
		    @media (max-width: 991px) {
		    	background-size: contain;
		    	width: auto;
		    }
		    .gift-text {
		    	color: #011a2f;
			    font-size: 32px;
			    text-transform: uppercase;
			    font-weight: bold;
		    }
		    .orange-button {
		    	margin-top: 115px;
			a {
				display: block;
			    background: #f27007;
			    box-shadow: 0 3px 0 #530010;
			    border-radius: 3px;
			    color: #f7f7f7;
			    font-family: 'PT Sans', sans-serif !important;
			    text-shadow: 0 1px 1px rgba( 0, 0, 0, .3 );
			    margin: 0 auto 0 auto;
			    text-decoration: none;
			    text-align: center;
			    font-size: 24px;
			    text-transform: uppercase;
			    padding: 12px 14px 5px 14px;
			    width: 370px;
			    font-weight: bold;
			    @media (max-width: 767px) {
			    	width: 100%;
			    	}
				}
			}
		}
		.yellow-text-block {
			background: url(../img/mark.png) no-repeat;
    		background-size: 100% 100%;
			h2 {
				font-family: 'Andada', serif;
			    font-weight: bold;
			    text-align: center;
			    font-size: 21px !important;
			    line-height: 150%;
			    padding: 15px 0 15px 0;
    			margin: 0px;
			}
		}
		
	}
}