@import url(https://fonts.googleapis.com/css?family=Patua+One|Nixie+One|Fira+Sans:400,700|Fugaz+One);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);

$font-regular: Helvetica, Sans-Serif;
$font-patuaone: 'Patua One', cursive;
$font-fira: 'Fira Sans', sans-serif;