.client-page {

	// ** Main Section **//
	
	.main {
	    background-image: url(../img/bg.png);
	    background-attachment: fixed;
	    background-position-x: 55%;
	    padding-bottom: 32px;
		.page-title {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 53px;
			margin-bottom: 43px;
			.title-badge {
				width: 51px;
				height: 33px;
		        display: flex;
			    align-items: center;
			    justify-content: center;
				border-radius: 4px;
				background-color: #ffc348;
				font-size: 13px;
				color: #ae700e;
				font-weight: 400;
			    font-family: $font-patuaone;
			    text-transform: uppercase;
			}
			.title-text {
				font-weight: 400;
				font-size: 28px;
				color: #253756;
				text-align: left;
			    letter-spacing: -1px;
			    margin-left: 16px;
		        font-family: $font-patuaone;
		        text-transform: uppercase;
			}
		}
		.block-box {
			margin-bottom: 22px;
			border-radius: 1px;
			border: 1px solid #dde6ec;
			background-color: #ffffff;
			background-image: linear-gradient(to top, rgba(243, 247, 250, 0.38) 0%, rgba(243, 247, 250, 0) 100%);
			
			.box-title  {
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-left: 24px;
				border-bottom: 1px solid rgba(215, 223, 232, 0.5);
				background-image: linear-gradient(to top, rgba(243, 247, 250, 0.38) 0%, rgba(243, 247, 250, 0) 100%);
				opacity: 0.85;
				h3 {
					margin: 0;
					color: #253756;
					font-family: $font-patuaone;
					font-size: 21px;
					font-weight: 400;
					text-transform: uppercase;
				}
			}
		}

		.setup-box {
			@extend .block-box;
			.box-content {
				.item {
				    padding-left: 9px;
				    &.borders {
					    border-bottom: 1px solid rgba(215, 223, 232, 0.5);
					    border-right: 1px solid rgba(215, 223, 232, 0.5);
				    }
				}
				.row {
					.col {
						&.left {
						background-color: #fdfdfe;
						}
						&.right {
							background-color: #f6f8fa;
							padding-left: 23px;
						}
					}
				}
				.image-container {
					background-color: #f4f7f9;
					&>div {
						display: flex;
						height: 100%;
						flex-direction: column;
					}
					.responder-text {
						color: #253756;
						font-family: $font-fira;
						font-size: 16px;
						font-weight: 400;
						margin-top: 17px;
						display: block;
						text-align: center;
					}
				}
				.info-line {
					height: 51px;
					display: flex;
					justify-content: flex-start;
					align-items: center;
					position: relative;
					.text-label {
						text-overflow: ellipsis;
    					overflow: hidden;
    					margin-left: 10px;
					    white-space: nowrap;
						a {
							color: #253756;
							font-family: $font-fira;
							font-size: 16px;
							font-weight: 400;
	    					margin: 0;
	    					&:hover {
    						    text-decoration: underline;
	    					}
    					}
    					&.bold {
    						color: #253756;
							font-family: $font-patuaone;
							font-size: 13px;
							font-weight: 400;
							text-transform: uppercase;
    					}
					}
				}
			}
		}

		.campaigns-box {
			@extend .block-box;
			.box-content {
			    padding-left: 66px;
    			padding-right: 66px;
				padding-bottom: 53px;
				padding-top: 51px;
				.align-start {
					text-align: left;
					.info-box::after {
					    width: 193px;
					    height: 1.1px;
					    content: '';
					    background: #e0e8ef;
					    position: absolute;
					    display: block;
					    left: 285px;
					}
				}
				.align-end {
					text-align: right;
					.info-box::before {
					    width: 193px;
					    height: 1.1px;
					    content: '';
					    background: #e0e8ef;
					    position: absolute;
					    display: block;
					    right: 285px;
					}
				}
				
				.statistic-block {
					margin-top: 50px;
					text-align: center;
					.item {
						display: inline-flex;
					    flex-wrap: wrap;
					    height: 100%;
					    flex-direction: column;
				        justify-content: space-between;
				        .label {
				        	color: rgba(37, 55, 86, 0.73);
							font-family: $font-fira;
							font-size: 13px;
							font-weight: 400;
							text-transform: uppercase;
							.star img{
							    top: -2.5px;
							    right: -4px;
							}
							img {
							    position: relative;
								top: -1px;
								right: -7px;
								
							}
				        }
						.date {
							color: #253756;
							font-family: $font-patuaone;
							font-size: 16px;
							font-weight: 400;
						}
						.counter {
							color: #b1c0ce;
							font-family: $font-fira;
							font-size: 16px;
							font-weight: 400;
							text-transform: uppercase;
							.divider {
								color: #253756;
								font-family: $font-patuaone;
								font-size: 43px;
								font-weight: 400;
							}
						}
					}
				}

				.info-box {
					width: 247px;
					height: 35px;
					border-radius: 1px;
					background-color: #e0e8ef;
				    display: inline-flex;
				    align-items: center;
				    justify-content: center;
					strong {
						color: #253756;
						font-family: $font-patuaone;
						font-size: 14px;
						font-weight: 400;
						text-transform: uppercase;
						margin-right: 13px;
					}
					span {
						color: #253756;
						font-family: $font-fira;
						font-size: 16px;
						font-weight: 400;
					}
				}
			}
		}

		.questions-block {
			border-radius: 2px;
		    border: 1px solid rgb(215, 223, 232);
			background-color: #f6f9fa;
			background-image: linear-gradient(to top, rgba(243, 247, 250, 0.38) 0%, rgba(243, 247, 250, 0) 100%);
			padding: 56px 25px 44px 25px;
			.box-title {
				margin-bottom: 33px;
			}
			.box-title h3 {
				color: #253756;
				font-family: $font-patuaone;
				font-size: 29px;
				font-weight: 400;
				margin: 0;
			}	
			.banner-block img {
				max-width: 100%;
			}
			.question-block {
				margin-bottom: 14px;
				border-radius: 2px;
				background-color: #ebf0f4;
				cursor: pointer;
				transition: .5s ease;
				
				.heading, .answer {
					padding: 10px 15px;
				}
				.answer {
					display: none;
				}
				.opened {
					background-color: #ccdae5;
					a {
						transition: .2s ease;
						color: #253756;
						font-weight: bold;
					}
				}
				a {
					color: #4d5677;
					font-family: $font-fira;
					font-size: 17px;
					font-weight: 400;
				}
				&:hover {
					background-color: #cddbe5;
					a {
						color: #253756;
					}
				}
			}
		}
	}
}

// ** Media Queries ** //


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.client-page .main {
		.block-box {
			.box-content {
				.align-start {
					.info-box::after {
					    display: none;
					}
				}
				.align-end {
					.info-box::before {
					    display: none;
					}
				}
			}
		}
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.client-page .main {
		
		.block-box {
			.box-content {
				.align-start {
					.info-box::after {
					    display: none;
					}
				}
				.align-end {
					.info-box::before {
					    display: none;
					}
				}
			}
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header {
	    text-align: center;
	}
	
	.client-page .main {
		.campaigns-box .box-content {
			padding: 20px;
		}
		.setup-box {
			.box-content {
				.item {
				    padding-left: 0;
    				padding-right: 0;
				}
				.autoresponder-wrap {
				    margin-top: 20px;
					margin-bottom: 10px;
				}
			}
		}
		.block-box {
			.box-content {
				.info-box {
					margin-bottom: 20px;
				}
				.align-start {
				    text-align: center;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					.info-box::after {
					    display: none;
					}
				}
				.align-end {
				    text-align: center;
				    display: flex;
				    align-items: center;
				    justify-content: center;
					.info-box::before {
					    display: none;
					}
				}
			}
		}
		.questions-block {
			padding: 0px;
			padding-top: 40px;
			padding-bottom: 40px;
		}
	}
	footer {
		.footer-links {
		text-align: center;
		}
	}
	
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.client-page .main {
		.page-title .title-text {
			font-size: 21px;
		}
		.campaigns-box .box-content {
			padding: 20px;
		}
		.setup-box {
			.box-content {
				.item {
				    padding-left: 0;
    				padding-right: 0;
				}
				.autoresponder-wrap {
				    margin-top: 20px;
					margin-bottom: 10px;
				}
			}
		}
		.block-box {
			.box-content {
				.info-box {
					margin-bottom: 20px;
				}
				.align-start {
					.info-box::after {
					    display: none;
					}
				}
				.align-end {
					.info-box::before {
					    display: none;
					}
				}
			}
		}
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
