// HERE WE WRITE SMALL REUSABLE PART OF DESIGN LIKE BTNS, INPUTS, LISTS:
.tooltip > .tooltip-inner {
	background-color: #253756; 
	max-width: 150px; 
	padding: 11px 15px 11px 15px;
	font-size: 11px; text-transform: capitalize;
	font-family: 'Fira Sans';
	border-radius: 20px;
}
.tooltip-arrow {
	border-color: #253756 !important;
}